<div class="row" style="margin-top: 20px;">
    <div class="col">
        <h3>{{ editando ? 'Edição de Produto' : 'Cadastro de Produto' }}</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <form style="margin-top: 20px;" [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">
            <div class="form-group">
                <label for="fabricante">Fabricante</label>
                <input type="text" class="form-control" id="fabricante" formControlName="fabricante">
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao">
            </div>

            <div class="form-group">
                <label for="codigo_barras">Código de Barras</label>
                <input type="text" class="form-control" id="codigo_barras" formControlName="codigoBarras">
            </div>

            <label for="valor_unitario">Valor Unitário</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input type="text" class="form-control" id="valor_unitario" formControlName="valorUnitario">
            </div>

            <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Salvar</button>
            <a [routerLink]="['/produtos']" class="btn btn-secondary mt-3 ml-2">Voltar</a>
        </form>
    </div>
</div>