<div class="row" style="margin-top: 20px;">
  <div class="col">
    <h3>{{ editando ? 'Edição de Filial' : 'Cadastro de Filial' }}</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [loader]="true" style="margin-top: 20px;" [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>

      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
      </div>

      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade">
      </div>

      <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" formControlName="estado">
      </div>


      <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Salvar</button>
      <a [routerLink]="['/filiais']" class="btn btn-secondary mt-3 ml-2">Voltar</a>
    </form>
  </div>
</div>