<div class="row" style="margin-top: 20px;">
    <div class="col">
        <h3>{{ editando ? 'Edição de Cliente' : 'Cadastro de Cliente' }}</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <form style="margin-top: 20px;" [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
            </div>

            <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid || loading">
                {{ loading ? 'Salvando...' : 'Salvar'}}
            </button>
            <a [routerLink]="['/clientes']" class="btn btn-secondary mt-3 ml-2">Voltar</a>
        </form>
    </div>
</div>
